.movies{
    color:#fff;
    font-weight: 600;
}
.moviesList{
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 5%;
    align-items:center;
justify-content: center;
margin-bottom: 20px;
}
.movies{
    text-align: center;
}